/* font  */
<style>
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
</style>
/* font */

body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

main{
    width: 1440px;
    
}

/* First section */
.first-section{
    display: flex;
    width: 1440px;
    height: 677px;
    background:navy;
    margin-bottom: 70px;
}
.first-left-width{
    width: 485px;
    height: 230px;
    margin-top: 207px;
    margin-left: 156px;
    margin-bottom: 240px;
    
}
.first-left-width h1{
    font-weight: 700px;
    font-size: 64px;
    color: white;

}

button, .link-button{
    width: 168px;
    height: 50px;
    margin-top: 27px;
    padding:10px;
    text-decoration: none;
    font-weight: 700;
    color: white;
    background-color: #E02C6D;
    font-size: 15px;
    border: 2px solid #E02C6D;  
}

.fa-arrow-right{
    font-size: 12px;
    margin-left: 15px;
   
}
.first-right-width{
    width: 556px;
    height: 456px;

}
.first-right-width img{
    width: 550px;
    height: 450px;
    margin-top: 135px;
    margin-right: 141px;
    margin-bottom: 86px;
    margin-left: 102px;
}
/* First Section */

/* Second section */

.second-section{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 60px;

}
.box-width{
    width: 1050px;
    height: 474px;
    display: flex;
    justify-content: space-between;
    margin-left: 180px;
    margin-right: 210px;
  
    
}
.player-image{
   width: 330px;
   height: 500px;
   box-shadow: 5px 5px 5px 2px gray; 
}
.image-width{
    width: 300px;
    height: 256px;
    padding:15px;
}
.player-name{
    width: 330px;
    height: 40px;
    font-weight: 700;
    size: 28px;
    margin: 16px 15px 10px 15px;
    padding: 10px 10px 10px 0px;
}
.player-info{
    width: 300px;
    height: 104px;
    font-weight: 400;
    size: 16px;
    margin: 10px 15px 33px 15px;
}

/* Third-Section */
.third-section{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 60px;
}
/* Third-Section */

/* Fourth-Section */
.fourth-section{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 60px;
}
/* Fourth-Section */

/* Fifth-Section */
.fifth-section{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 60px;
}
/* Fifth-Section */

/*Sixth Section*/

.sixth-section{
 margin: 0;
}
.totall-width{
    width: 493px;
    height: 213px;
    margin: 158px 482px 63px 475px;
}
.totall-width img{
    width: 490px;
    height: 110px;
    margin-bottom: 20px;
}
.icon{
    width: 170px;
    height: 32px;
    margin: 20px 162px 20px 162px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    font-size: 20px;
}
.copyright{
    width: 236px;
    height: 31px;
    margin: 20px 134px 10px 125px;
    text-align: center;
    font-weight: 400;
    font-size: 18px;
}

/*Sixth Section*/
